
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faça o registro</title>
</head>
<body>
    
    {% block content %}
    <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card auth-card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Faça o seu registro</h1>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            
                            {{ form.as_p }}            
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </form>
        
                    </div>
                </div>
            </div>
        </div> 
    {% endblock %}
</body>
</html>

